:root{
  --verde-medio: #1e555c;
  --verde-escuro: #13353a;
  --branco: #ffffff;
  --vermelho: #95120f;
  --azul: #0a3652;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: lighter;
}

body{
  background-color: var(--verde-medio);
  color: var(--branco);
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 640px;
  height: 480px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  font-size: 1.8rem;
  margin: 15px 0;
}

#comandos{
  margin: 10px 0;
  display: flex;  
}

#break-label, #session-label{
  margin: 0 10px;
}

h2{
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.fa-solid{
  font-size: 1.6rem;
  margin: 0 10px;
}

.fa-solid:hover{
  cursor: pointer;
}

span{
  font-size: 1.8rem;  
}

#relogio{
  border: 5px solid var(--verde-escuro);
  border-radius: 3rem;
  padding: 20px;
  margin: 10px 0;
}

#timer-label{
  font-size: 1.8rem;
}

#time-left{
  font-size: 5rem;
}

.minuto-final{
  color: var(--vermelho);
}

footer{
  font-size: .8rem;
  margin: 10px 0;
}

footer p{
  color: var(--vermelho);
}

footer a{
  color: var(--azul);
  text-decoration: none;
}