:root{
  --verde-medio: #1e555c;
  --verde-escuro: #13353a;
  --branco: #ffffff;
  --vermelho: #95120f;
  --azul: #0a3652;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: lighter;
}

body{
  background-color: var(--verde-medio);
  color: var(--branco);
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 640px;
  height: 480px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  font-size: 1.8rem;
  margin: 15px 0;
}

footer{
  font-size: .8rem;
  margin: 10px 0;
}

footer p{
  color: var(--vermelho);
}

footer a{
  color: var(--azul);
  text-decoration: none;
}